@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url(fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url(fonts/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: 'LobsterTwo';
  font-weight: 700;
  src: url(fonts/Lobster_Two/LobsterTwo-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    color: #27304B;
    background-color: #F4F3F3;
}

.container{
  width: calc(100% - 30px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section{
  padding-top: 75px;
  padding-bottom: 75px;
}
.d-flex{
  display: flex;
}

  h1 {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 900;
  }

  h2{
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 900;
    font-size: 42px;
  }
.text-center{
  text-align: center;
}
  .pre-titolo{
    font-size: 18px;
    position: relative;
    width: max-content;
  }
  .pre-titolo::before{
    content: '';
    display:block;
    background-image: url(img/Pallini.png);
    width: 115px;
    height: 115px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -49%);
  }
  .arancio,
  #home-servizi .container>div h3 span,
  .titolo span{
    color: #F15E42;
  }
  .verde,
  #home-servizi .titolo span{
    color: #98CB46 !important;
  }
  .btn{
    display: block;
    transition: all .3;
    width: 200px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 40px;
    text-align: center;
    padding: 20px;
  }

  .btn-1{
    background-color: #F15E42;
    color: #fff;
  }
  .btn-1:hover{
    background-color: #e45538;
  }
  .btn-2{
    background-color: transparent;
    border: 2px solid #27304B;
    color: #27304B;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-2 img{
    margin-left: 12px;
  }
  .btn-2:hover{
    background-color: #27304B;
    color: #fff;
  }
  
  nav {
    background-color: #EFF0EB; /* Colore di sfondo della barra di navigazione */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px 14px 16px;
  }

  .logo img {
    height: 40px; /* Imposta l'altezza desiderata per il logo */
    padding-left: 50px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 50px;
  }
  
  .nav-links li {
    margin-left: 48px; /* Spazio tra le voci di navigazione */
    
  }
  
  .nav-links li a {
    color: #27304B; /* Colore del testo delle voci di navigazione */
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
  }
  
  /* Cambia colore del testo delle voci di navigazione quando passi sopra con il mouse */
  .nav-links li a.active,
  .nav-links li a:hover {
    color: #F15E42;
}

/* Utilizza il font personalizzato per la voce "Contattami ora" */
.nav-links li:nth-child(4) a {
    color: #F15E42;
    border-radius: 30px;
    border: 2px solid #F15E42;
    padding: 8px 16px;
}
.nav-links li:nth-child(4) a:hover{
  background-color: #F15E42;
  color: #fff;
}
#mobile-menu,
#hamburger-menu{
  display: none;
}
#standard-header{
  background-image: url(img/sfondo_arancione\ 3.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(70vh - 77px);
}
body:not(#body-contatti) #standard-header{
  margin-bottom: 50px;
}
#standard-header>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#home-header{
  background-image: url(img/sfondo_verde.jpg);
  background-repeat: no-repeat;
  height: calc(100vh - 77px);
}



#home-header .container{
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100%;
}
#home-header h1 {
  color: #27304B;
  font-size: 50px; /* Dimensione del titolo h1 */
  line-height: 1.4; /* Altezza della linea per una migliore leggibilità */
  margin-bottom: 20px;
}
#home-header h1 span {
  font-weight: 900;
  color: #F15E42;
}
#home-header p {
  color: #27304B;
  font-size: 24px; /* Dimensione del paragrafo */
  line-height: 1.3; /* Altezza della linea per una migliore leggibilità */
}
#home-qualita p>b,
#home-header p>b {
font-weight: 900;
}
#home-header .btn{
  margin-top: 20px;
}
#home-header .container>div:first-of-type{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home-header .container>div:last-of-type{
  display: flex;
  align-items: flex-end;
}

#home-header img{
  width: 100%;
  height: 600px;
  object-fit: contain;
}

#home-punti-forza{
  text-align: center;
}
#home-punti-forza .container{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
#home-punti-forza .container>div:nth-of-type(1){
  background-color: rgba(152, 203, 70, 0.3);
}
#home-punti-forza .container>div:nth-of-type(2){
  background-color: rgba(39, 48, 75, 0.3);
}
#home-punti-forza .container>div:nth-of-type(3){
  background-color: rgb(241, 94, 66, 0.3);
}
#home-punti-forza .container>div{
  padding: 40px 40px;
}
#home-punti-forza h2{
  font-size: 36px;
  font-family: 'LobsterTwo';
  margin: 0;
}
#home-punti-forza p{
  margin-bottom: 0;
  font-size: 20px;
}
.fascia-immagine-testo p b,
#home-recensione p b,
#home-punti-forza p b{
  font-weight: 900;
}


.fascia-immagine-testo .container{
  display: grid;
  grid-template-columns: 50% 50%;
}
.fascia-immagine-testo .fascia-immagine-testo-img{
  position: relative;

}
.fascia-immagine-testo .fascia-immagine-testo-img::before{
  content: '';
  background-image: url(img/Forma\ verde.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 500px;
  height: 450px;
  z-index: -1;
  top: -75px;
  left: -100px;
}

.fascia-immagine-testo.invertito .fascia-immagine-testo-img::before{
  background-image: url(img/forma\ arancione.png);
  
}
body#body-servizi .fascia-immagine-testo:not(.invertito) .fascia-immagine-testo-img::before{
  left: unset;
  right: 35px;

}
body#body-servizi .fascia-immagine-testo.invertito .fascia-immagine-testo-img::before{
  top: -125px;
}
.fascia-immagine-testo img{
  width: 78%;
}
.fascia-immagine-testo p{
  width:350px;
}
.fascia-immagine-testo ul{
  margin-top: 40px;
}
.fascia-immagine-testo li{
  margin-top: 8px;
  font-weight: 700;
}
.fascia-immagine-testo .btn{
  margin-top: 40px;
}



#home-recensione{
  position: relative;
  background-image: url(img/Sfondo_verde_rec.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 125px;
  overflow: hidden;
  padding-bottom: 150px;
}
#home-recensione .container{
  display: grid;
  grid-template-columns: 48% 52%;
}
#home-recensione .container>div:last-of-type{
  position: relative;
}
#home-recensione .container>div:last-of-type::before{
  content: '“';
  display: block;
  font-family: 'Lato';
  font-weight: 400;
  position: absolute;
  top: -75px;
  left: -45px;
  font-size: 120px;
  color: #98CB46;
}
#home-recensione .container>div:last-of-type::after{
  content: '“';
  display: block;
  font-family: 'Lato';
  font-weight: 400;
  position: absolute;
  bottom: 50px;
  right: 15%;
  font-size: 120px;
  color: #F15E42;
  transform: rotate(-180deg);
}
#home-recensione>img{
  position: absolute;
  bottom: -45px;
  left: 0;
  width: 37%;
}
#home-recensione p{
  width: 80%;
  font-size: 26px;
}
#home-recensione p::first-letter{
  margin-left: 8px;
}
#home-recensione-img-stelle{
  margin-top: 30px;
  width: 150px;
}
#home-recensione-google-box{
  display: flex;
  align-items: center;
  margin-top: 18px;
}
#home-recensione-google-box h6{
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
}

body#body-servizi #home-servizi{
  background-image: url(img/sfondo_arancione\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#home-servizi .container{
  display: grid;
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  column-gap: 50px;
  row-gap: 50px;
}
#home-contatti .pre-titolo,
#home-galleria .pre-titolo,
#home-recensioni .pre-titolo,
#home-qualita .pre-titolo,
#home-servizi .pre-titolo{
  margin: 0 auto;
}
#home-servizi .container>div{
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
}
#home-servizi .container>div h3{
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 0;
  margin-top:0;
}
#home-servizi .container>div p{
  margin-top: 12px;
  margin-bottom: 25px;
}
#home-servizi .container>div a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #27304B;
}
#home-servizi .container>div a img{
  margin-left: 15px
}
#home-servizi .titolo{
  margin-bottom: 65px;
}
#home-servizi .btn-2{
  margin: 0 auto;
  margin-top: 65px;
}
#home-servizi .d-flex.zampe img{
  height: 25px;
  margin-bottom: 5px;
}
#home-servizi .d-flex.zampe img:not(.last-of-type){
  margin-right: 7px;
}

#home-galleria{
  background-image: url(img/sfondo\ verde\ scuro.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#home-galleria .swiper{
    width: 100%;
    height: 100%;
}
#home-galleria .swiper .swiper-slide{
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#home-galleria .swiper-button-next,
#home-galleria .swiper-button-prev{
  color: #000
}
#home-galleria .swiper-button-prev{
  left: 75px;
}
#home-galleria .swiper-button-next{
  right: 75px;
}

#home-numeri .container{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 25px;
}
#home-numeri .riga{
  width: 65px;
  height: 1px;
  background-color: #27304B;
  margin: 0 auto;
}
#home-numeri h6{
  font-weight: 900;
  font-size: 58px;
  margin: 0;
  margin-top: 15px;
}
#home-numeri h3{
  margin: 0;
  margin-top: 15px;
}
#home-numeri img{
  height: 100px;
  width: auto;
  margin-bottom: 20px;
}


#home-qualita{
  background-image: url(img/sfondo_verde.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
}
#home-qualita p{
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}
#home-qualita>img{
  margin: 0 auto;
  margin-top: -25px;
  display: block;
  text-align: center;
  transform: translateY(90px);
  max-width: 100%;
}


#home-recensioni{
  padding-top: 200px;
}
.home-recensioni-swiper{
  width: 550px;
  max-width: 100%;
  padding: 70px 120px;
}
.home-recensioni-swiper .swiper-slide>div{
  background-color: #fff;
  border-radius: 25px;
  padding: 30px 30px 30px 50px;

}
.home-recensioni-swiper .swiper-slide-active>div{
  box-shadow: 0px 25px 55px -8px rgba(0,0,0,0.3);
}
.home-recensioni-swiper p{
  margin-top: 15px;
  font-size: 16px;
}
.home-recensioni-swiper .recensione-data,
.home-recensioni-swiper .recensione-nome{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-recensioni-swiper .recensione-nome>div{
  display: flex;
  align-items: center;
}
.home-recensioni-swiper .recensione-nome>div img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.home-recensioni-swiper .recensione-nome h5{
  margin-left: 12px;
}
.home-recensioni-swiper .recensione-nome>img{
  width: 125px;
}
.home-recensioni-swiper .recensione-data>span{
  font-size: 12.5px;
  color: rgba(0,0,0,0.4);
}
.home-recensioni-swiper .recensione-data img{
  width: 25px;
}
.home-recensioni-swiper .swiper-button-next,
.home-recensioni-swiper .swiper-button-prev{
  border-radius: 50%;
  background-color: #F15E42;
  color: #fff;
  width: 50px;
  height: 50px;
}
.home-recensioni-swiper .swiper-pagination-bullets{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-recensioni-swiper .swiper-pagination-bullet{
  width: 10px;
  height: 10px;
}
.home-recensioni-swiper .swiper-pagination-bullet-active{
  width: 13px;
  height: 13px;
  background-color: #F15E42;
}
.home-recensioni-swiper .swiper-button-next:after,
.home-recensioni-swiper .swiper-button-prev:after{
  font-size: 20px;
}

body:not(#body-contatti) #home-contatti .container{
  margin-top: 75px;
}
#home-contatti-box{
  background: linear-gradient(to right, #fff 80%, rgba(152, 203, 70, 0.5) 20%);
  border-radius: 50px;
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 20px 30px 20px 70px;
}
#home-contatti form{
  padding-right: 100px;
}
#home-contatti textarea,
#home-contatti input{
  width: 100%;
  border: 0;
  border-bottom: 1px solid gray;
  margin-top: 20px;
  padding: 12px 10px 12px 15px;
  font-family: 'Lato';
  font-weight: 400;
  letter-spacing: 0;
  font-size: 16px;
}
#home-contatti .btn-1{
  width: 100%;
  border-radius: 8px;
  border: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 25px;
}
#home-contatti .checkbox-box{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 18px;
}
#home-contatti .checkbox-box input{
  width: unset;
  margin: 0;
  margin-right: 10px;
}
.home-contatti-box-contatti{
  display: flex;
  align-items: top;
  margin-top: 100px;
  padding-bottom: 15px;
}
.home-contatti-box-contatti>div{
  display: flex;
}
.home-contatti-box-contatti img{
  height: 35px;
  width: auto;
  margin-right: 10px;
}
.home-contatti-box-contatti a,
.home-contatti-box-contatti h6{
  margin: 0;
  font-size: 15px;
}
.home-contatti-box-contatti a{
  text-decoration: unset;
}
.home-contatti-box-contatti>div+div{
  margin-left: 50px;
}

footer{
  background-color: #fff;
  color: #6F6C90;
  padding-bottom: 20px !important;
  font-size: 16px;
}
footer .container>div:first-of-type{
    display: grid;
    grid-template-columns: 32% calc(26% - 50px) calc(21% - 50px) calc(21% - 50px);
    column-gap: 50px;
    padding-bottom: 30px;
}
footer .container>div:first-of-type a{
  text-decoration: none;
  color: #6F6C90;
}
#footer-box-logo p{
  font-size: 16px;
}
#footer-box-contatti img{
  margin-right: 7px;
}
#footer-box-contatti ul li{
  line-height: 22px;
  display: flex;
  align-items: center;
}
footer h5{
  color: #27304B;
  font-size: 18px;
  margin-top: 0;
}
footer ul{
  list-style: none;
  padding-left: 0;
  font-size: 16px;
}
footer .container>div:first-of-type ul li{
  margin-top: 13px;
}
#footer-copyright{
  border-top: 1px solid #D9DBE9;
  justify-content: space-between;
  padding-top: 22px;
}
#footer-copyright ul{
  margin-top: 0;
}
#footer-copyright ul li{
  margin-right: 5px;
  margin-left: 5px;
}
#footer-copyright>span{
  font-size: 16px;
}
@media (min-width: 992px){
  .container{
    max-width: 960px;
  }

}
@media (min-width: 1200px){
  .container{
    max-width: 1140px;
  }
  #home-galleria .swiper .swiper-slide{
    opacity: 0.4;
  }
  #home-galleria .swiper .swiper-slide.swiper-slide-next{
    opacity: 1;
  }
}


@media (max-width: 1300px){
  #home-recensione{
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 1200px){
  footer .container>div:first-of-type {
    display: grid;
    grid-template-columns: calc(39.33% - 33.33px) calc(33.33% - 33.33px) calc(27.33% - 33.33px);
    column-gap: 50px;
    padding-bottom: 30px;
  }
  #footer-box-logo{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 40px;
  }
}

@media (max-width: 1099px){
  #home-recensione {
    padding-top: 75px;
    padding-bottom: 75px;
}
#home-recensione .container>div:last-of-type::before{
  top: -55px;
}
}

@media (max-width: 992px){
  #home-punti-forza{
   padding-bottom: 0px;
  }
  #desktop-menu .nav-links>li:not(#hamburger-menu){
    display: none;
  }
  #hamburger-menu{
    display: block;
    cursor: pointer;
  }
  #hamburger-menu img{
    height: 45px;
  }
  .logo img,
  .nav-links{
    padding: 0;
  }
  .nav-links li{
    margin-left: 0px;
  }
  #mobile-menu{
    background-color: #EFF0EB;
    height: calc(100vh - 85px);
    z-index: 9;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  #mobile-menu.open{
    display: flex;
  }
  #mobile-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #mobile-menu ul li:not(:first-of-type){
    margin-top: 25px;
  }
  #home-header .container,
  #home-recensione .container {
    grid-template-columns: 100%;
  }
  #home-header .container {
    height: 100%;
  }
  #home-header img{
    position: absolute;
    bottom: 0;
    opacity: 0.1;
    height: 450px;
    max-width: 90%;
  }

  #home-header h1{
    font-size: 35px;
  }
  #home-punti-forza .container>div{
    padding: 25px 25px;
  }
  .fascia-immagine-testo .container {
    grid-template-columns: 43% 57%;
  }
  .fascia-immagine-testo img {
    width: 85%;
  }
  #home-recensione>img{
    opacity: 0.1;
    left: 50%;
  }
  #home-recensione .container>div:last-of-type {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
  }
  #home-recensione p{
    width: 100%;
  }
  .home-recensioni-swiper .swiper-button-next, .home-recensioni-swiper .swiper-button-prev{
    display: none;
  }
  .home-recensioni-swiper {
    padding: 70px 40px;
  }
  #home-contatti-box {
    background: rgba(152, 203, 70, 0.1);
    grid-template-columns: 100%;
    padding: 40px;
  }
  #home-contatti form{
    padding-right: 0;
  }
  .home-contatti-box-contatti{
    margin-top: 60px;
  }
  #footer-copyright>span,
  #footer-copyright ul{
    font-size: 14px;
  }
  #home-contatti-box>div:nth-of-type(2){
    margin-top: 35px;
  }
  #home-contatti-box>div:nth-of-type(2) iframe{
    height: 400px;
  }
  #home-contatti textarea,
  #home-contatti input{
    box-sizing: border-box;
  }
}

@media (max-width: 768px){
  #standard-header{
    margin-bottom: 0px !important
  }
  .fascia-immagine-testo .container,
  #home-punti-forza .container {
    grid-template-columns: 100%;
  }
  #home-punti-forza .container>div{
    padding: 30px 20px;
  }
  .fascia-immagine-testo .fascia-immagine-testo-img{
    order: 2;
    margin-top: 50px
  }
  .fascia-immagine-testo .fascia-immagine-testo-testo{
    order: 1;
  }
  .fascia-immagine-testo p {
    width: 100%;
  }
  .fascia-immagine-testo img{
    margin: 0 auto;
    display: block;
    width: 400px;
    max-width: 100%;
  }
  #home-recensione .container>div:last-of-type::before{
    font-size: 100px;
    left: -10px;
  }
  #home-recensione .container>div:last-of-type::after{
    font-size: 100px;
    right: -10px;
  }
  #home-servizi .container {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    column-gap: 30px;
    row-gap: 30px;
  }
  #home-numeri .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 50px;
    row-gap: 50px;
  }
  #home-galleria .swiper{
    width: calc(100% - 30px);
  }
  .home-recensioni-swiper .swiper-slide-active>div {
    box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.2);
}
.home-recensioni-swiper {
  max-width: calc(100% - 30px);
  padding: 30px 0px 50px 0px;
}
footer .container>div:first-of-type {
  grid-template-columns: 100%;
  column-gap: 0px;
  row-gap: 40px;
  padding-bottom: 0px;
  text-align: center;
}
#footer-box-logo{
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 0px;
}
#footer-box-contatti ul li{
  justify-content: center;
}
#footer-copyright{
  flex-direction: column;
  align-items: center;
}
#footer-copyright ul{
  margin-top: 12px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

}

@media (max-width: 576px){
  body{
    font-size: 18px;
  }
  #home-servizi .container {
    grid-template-columns: 100%;
    column-gap: 0px;
    row-gap: 20px;
  }
  .logo img{
    height: 35px;
  }
  #home-header .container>div:first-of-type{
    z-index: 1;
  }
  #home-header .container>div:last-of-type{
    position: relative;
  }
  #home-header h1 {
    line-height: 1.3;
    margin-bottom: 0;
}
  #home-header p{
    font-size: 23px;
  }
  #home-header img{
    height: auto;
  }
  #home-contatti-box {
    padding-left: 15px;
    padding-right: 15px;
  }
  #home-contatti .container {
    margin-top: 50px;
}
.home-contatti-box-contatti {
  flex-wrap: wrap;
  justify-content: center;
}
.home-contatti-box-contatti>div {
width: 100%;
}
.home-contatti-box-contatti>div+div {
margin-left: 0px;
margin-top: 25px;
}
#home-recensione>img{
  left: unset;
    right: 10px;
width: 75%;
max-width: 90%;
}
body#body-home .fascia-immagine-testo .fascia-immagine-testo-img::before{
  display: none;
}
body#body-servizi .fascia-immagine-testo.invertito .fascia-immagine-testo-img::before,
.fascia-immagine-testo .fascia-immagine-testo-img::before{
  top: -45px;
}
#home-galleria .swiper-button-prev{
  left: 25px;
}
#home-galleria .swiper-button-next{
  right: 25px;
}
.fascia-immagine-testo .fascia-immagine-testo-img::before{
  max-width: 100%;
}
.fascia-immagine-testo+.fascia-immagine-testo.invertito{
  padding-top:0;
}
}